	<div class="photo">
		<a href="http://flickr.com"><img src="images/sym.jpg" /></a>
		<div class="bg"><p>Symmetry</p></div>
	</div>
	<div class="photo">
		<a href="http://flickr.com"><img src="images/cn.jpg" /></a>
		<div class="bg"><p>CN Toronto</p></div>
	</div>
	<div class="photo">
		<a href="http://flickr.com"><img src="images/empire.jpg" /></a>
		<div class="bg"><p>Sunset Empire</p></div>
	</div>
	<div class="photo">
		<a href="http://flickr.com"><img src="images/ts.jpg" /></a>
		<div class="bg"><p>Times Square</p></div>
	</div>